body{
	background-color: #fff8ec;
}

nav li{
	background-color: #dbcca3;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font: black;
	margin: 10px;
	padding:10px;
	width:15%;
	border:5px solid rgb(194, 170, 34);
	display: inline-block;
	text-align: center;
	margin: auto;
}

img{
	width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
    border: 10px solid black;
}

img:hover{
	width: 1480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
    border: 10px solid black;
	border-radius: 15px;
}

img:nth-child(2n){
	border: 20px solid pink;
}


h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font: black;
	font-size: 48px; 
	font-weight: bold;
	padding: 30px;
	margin: 10px;
    text-align: center;
}

h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font: black;
	font-size: 30px; 
	font-weight: bold;
	padding: 15px;
	margin: 10px;
    text-align: left;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font: black;
	font-size: 18px; 
	font-weight: normal;
	padding: 30px;
	margin: 10px;
    text-align: left;
	line-height: 150%;
}

footer{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font: black;
	font-size: 5px; 
	font-weight: normal;
	padding: 30px;
	margin: 10px;
    text-align: left;
	line-height: 150%;
}
